<div class="container-fluid">

  <div class="jumbotron">
    <% if logged_in? %> 
        <h2>My Images</h2>
    <% else %>
        <h2>All Images</h2>
    <% end %>
        <p class="text-center">Please see images below, dont forget you can click on the images to show a slideshow</p>
    </div>
                    
    
        <% if @images.exists? %>
            <div class="row">
              <% @images.each do |image| %>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <figure>
                      <img src="<%= image.image_url() %>" class="photo-type-line img-thumbnail grayscale" class="photo-hover" data-fancybox="AllImages" data-caption="<%= image.image_title %>">

                      <figcaption><%= image.image_title %></figcaption>
                    </figure>
             </div>
         <% end %>
         <% else %>
          <p> There are no images! </p>
        <% end %>
   </div>


</div>




            
